<div class="container mt-4">
  <h2>Gestión de Clientes</h2>

  <div class="d-flex justify-content-between mb-3">
    <input type="text" class="form-control w-50" [(ngModel)]="searchQuery" placeholder="Buscar por nombre..." (input)="applyFilters()">
    <select class="form-select w-25" [(ngModel)]="statusFilter" (change)="applyFilters()">
      <option value="">Todos</option>
      <option value="active">Activos</option>
      <option value="inactive">Inactivos</option>
    </select>
    <a *ngIf="filteredClients.length >0" routerLink="/clients/create" class="btn btn-primary">+ Agregar Cliente</a>
  </div>

  <div *ngIf="filteredClients.length === 0" class="text-center mt-4">
    <p class="text-muted">No hay clientes registrados.</p>
    <button class="btn btn-primary" routerLink="/clients/create">Agregar Cliente</button>
  </div>

  <table *ngIf="filteredClients.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of filteredClients.slice((currentPage-1) * itemsPerPage, currentPage * itemsPerPage)">
        <td>{{ client.name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <!-- <td>{{ client.role === 'admin' ? 'Administrador' : 'Usuario' }}</td> -->
        <td>
          <span class="badge" [ngClass]="{'bg-success': client.status === 'active', 'bg-secondary': client.status === 'inactive'}">
            {{ client.status === 'active' ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
        <td>
          <button class="btn btn-warning btn-sm" [routerLink]="['/clients/edit', client.id]">Editar</button>
          <button class="btn btn-danger btn-sm ms-2" (click)="deleteClient(client.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>


  <!-- Paginación -->
  <nav *ngIf="filteredClients.length > itemsPerPage">
    <ul class="pagination">
      <li class="page-item" *ngFor="let page of getTotalPages()">
        <button class="page-link" (click)="changePage(page)">{{ page }}</button>
      </li>
    </ul>
  </nav>
</div>
