<div class="d-flex min-vh-100">
  <div class="d-flex flex-column justify-content-center flex-grow-1 p-4 p-lg-5 bg-success position-relative">

    <div class="container text-center text-white position-relative z-3">
      <h2 class="fw-bold">Sign in to your account</h2>
      <p class="text-light">Not a member? <a href="#" class="fw-bold text-white">Contact us</a></p>

      <div class="mt-4">
        <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="email" class="form-label text-light">Email address</label>
            <input type="email" class="form-control bg-light text-success border border-success" id="email" name="email" [(ngModel)]="email" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label text-light">Password</label>
            <input type="password" class="form-control bg-light text-success border border-success" id="password" name="password" [(ngModel)]="password" required>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input border-success" id="remember-me">
            <label class="form-check-label text-light" for="remember-me">Remember me</label>
          </div>

          <button type="submit" [disabled]="isSubmitting" class="btn btn-light w-100 fw-bold text-success shadow">
            {{ isSubmitting ? 'Cargando...' : 'Iniciar Sesión' }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="d-none d-lg-block bg-cover bg-center vh-100 w-50 text-white text-center d-flex flex-column justify-content-center align-items-center p-5" >

    <a routerLink="admin" class="btn btn-success btn-lg rounded-pill px-5 py-2 fw-bold shadow-lg">
      Registrate
    </a>
  </div>
</div>
